NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=mongodb://localhost:27017/cat_adoption

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TTL=60 #驗證碼冷卻期間(秒)
REDIS_CODE_TTL=300 # 驗證碼有效期限(秒)

# JWT
JWT_SECRET=replace_with_strong_secret
JWT_EXPIRES_IN=7d

# Government API sync
GOV_ANIMAL_API_URL=
GOV_SYNC_CRON=0 * * * *

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ECPay
ECPAY_MERCHANT_ID=
ECPAY_HASH_KEY=
ECPAY_HASH_IV=
ECPAY_RETURN_URL=
