NODE_ENV=development
PORT=3001

# CORS（部署到 Render 時必填）
FRONTEND_URL=http://localhost:3000


# Database
DATABASE_URL=mongodb+srv://user:00000000@cluster0.ddj63.mongodb.net/?appName=Cluster0

# Redis
REDIS_URL=
REDIS_USE_TLS=false
REDIS_URL=
REDIS_TTL=60 #驗證碼冷卻期間(秒)
REDIS_CODE_TTL=300 # 驗證碼有效期限(秒)

# JWT
JWT_SECRET=replace_with_strong_secret
JWT_EXPIRES_IN=7d

# Government API sync
GOV_ANIMAL_API_URL=
GOV_SYNC_CRON=0 * * * *

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ECPay
ECPAY_MERCHANT_ID=
ECPAY_HASH_KEY=
ECPAY_HASH_IV=
ECPAY_RETURN_URL=
